*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(http://wallpaperset.com/w/full/d/b/1/91646.jpg);
    background-size: cover;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 500px;
    height: 600px;
    border: 14px inset #ff0000;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #ff0000cd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__title{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
}
.card__info{
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}
.card__img{
    margin-top: 50px;
    width: 350px;
}
.card__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}
.box__text{
    font-size: 50px;
    color: #32ff36;
}
.box__img{
    width: 60px;
}
.box__price{
    font-size: 50px;
    color: #ffe83a;
    transition: 0,5s;
    cursor: pointer;
}
.box__price:hover{
    color: #ff0000;
}